.wedding-letter-container {
  background-image: url('/background9.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px;
  max-width: 720px;
  height: 100%;
  position: absolute;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.wedding-letter-container h1 {
  font-size: 36px;
  font-weight: 700;
  /* margin-bottom: 20px; */
  max-width: 720px;
  margin: auto;
}

.wedding-letter-container p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.wedding-letter-container .text-center {
  text-align: center;
}
